/abstract.txt
/graphdb/
/out/
/tlpdb-*/
/slides/texlive-neo4j.aux
/slides/texlive-neo4j.log
/slides/texlive-neo4j.nav
/slides/texlive-neo4j.out
/slides/texlive-neo4j.snm
/slides/texlive-neo4j.synctex.gz
/slides/texlive-neo4j.tex~
/slides/texlive-neo4j.toc
/slides/texlive-neo4j.vrb
/slides/texlive-neo4j.xcf
/slides/texlive-yearless.pdf
.neo4j-vars
